In [2]:
import pandas as pd
import numpy as np

In [4]:
temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11, 12],
"Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]})

In [5]:
temp

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3          NaN
4        4         21.0
5        5         20.0
6        6         20.0
7        7          NaN
8        8         21.0
9        9         23.0
10      10          NaN
11      11         23.0
12      12         24.0

In [6]:
# Sostituzione dei valori mancanti con la media delle temperature note
mean_temperature = temp['Temperature'].mean()
temp['Temperature'].fillna(mean_temperature, inplace=True)

print(temp)

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3         20.7
4        4         21.0
5        5         20.0
6        6         20.0
7        7         20.7
8        8         21.0
9        9         23.0
10      10         20.7
11      11         23.0
12      12         24.0