In [1]:
import pandas as pd
df=pd.read_csv('pokemon.csv')

In [2]:
df.isna

<bound method DataFrame.isna of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    318  45      49       49
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
4      4             Charmander     Fire     NaN    309  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 13 columns]>

In [5]:
nulli=df.isna().sum()
print("Valori nulli per ogni colonna:")
print(nulli)

Valori nulli per ogni colonna:
#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [7]:
if nulli.sum() == 0:
    print("Non ci sono valori nulli nel dataset.")
else:
    print("Ci sono valori nulli nel dataset.")

Ci sono valori nulli nel dataset.

In [8]:
df_cleaned = df.dropna()

# Verifichiamo le dimensioni prima e dopo l'eliminazione dei valori nulli
print("Dimensioni del DataFrame prima dell'eliminazione:", df.shape)
print("Dimensioni del DataFrame dopo l'eliminazione:", df_cleaned.shape)

Dimensioni del DataFrame prima dell'eliminazione: (800, 13)
Dimensioni del DataFrame dopo l'eliminazione: (414, 13)